<div class="bookmark-page mt-3">
  <div class="bookmark-list">
    <%= "No Bookmarks" if @notes.count.zero? %>
    <% @notes.each do |note| %>
      <%= link_to note_path(note), class: 'video-card-link' do %>
        <div class="video-card">
          <div class="video-container">
            <img src="<%= note.thumbnail_url %>" alt="Thumbnail of the video">
          </div>
          <div class="video-info">
            <h3><%= note.title %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
