@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.show-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#column1 {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#column1::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#column1 iframe {
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16/9;
}

#column2 {
  flex: 1;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 4px;
  overflow-y: scroll;
  height: 100%;
  position: sticky;
  top: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#column2::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.code-wrapper {
  color: white;
  background-color: rgb(70, 70, 70);
  border-radius: 8px;
  margin: 4px;
  padding-top: 8px;
  margin-right: 8px;
  padding-right: 0px;
}

.code-block {
  background-color: black;
  color: white;
  padding: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: left;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}

code {
  white-space: pre-wrap;
  word-break: break-word;
}

.copy-code-button {
  padding-right: 8px;
  padding-bottom: 2px;
  color: lightgray;
}

.caption:hover {
  color: blue;
  text-decoration: underline;
}

.current-caption {
  background: yellow;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left-content {
  flex: 1;
}

.right-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px; /* Add some space between the left and right content */
  flex-direction: row;
}

#player {
  border-radius: 12px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.list-tags {
  display: inline-block;
  text-decoration: none;
  background: #EFF4FF;
  color: #3d7eaa;
  border: none;
  font-size: .9em;
  padding: 2px 4px;
  border-radius: 20px;
  text-align: center;
}

#notes-or-transcript {
  padding: 4px;
}

[contenteditable]:focus {
   outline: 3px solid #3d7eaa;
}
