.container2 {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 20px;
}

#column1 {
  flex: 1;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

#column1 iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 56.25%;
}

#column2 {
  flex: 1;
  box-sizing: border-box;
  padding-left: 16px;
  overflow-y: auto;
}
