.container2 {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 20px;
}

#column1 {
  flex: 1;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

#column2 {
  flex: 1;
  box-sizing: border-box;
}
