<div class="page-wrapper">
 <div class="nav-wrapper">
  <nav class="navbar">
    <p id="nav-logo"> <a href="/"> <strong> <i class="fa-solid fa-pen"></i> NoteTube </a> </strong> </p>
    <ul class="nav no-search">
      <% if user_signed_in? %>
        <li class="nav-item"><a href="/notes">My Library</a></li>
        <li class="nav-item"><a href="/users/sign_out" data-turbo-method="delete">Log out</a></li>
      <% else %>
        <li class="nav-item"><a href="/users/sign_in">Login</a></li>
      <% end %>
      <li class="nav-item">
        <i class="fas fa-search" id="search-icon"></i>
        <form style="display: inline;" action="/notes" method="POST" data-turbo="false">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
          <input class="search-input" type="text" id="v" name="v" placeholder="Paste a YouTube link">
        </form>
      </li>
    </ul>
  </nav>
  </div>
</div>

<script>
  $("#search-icon").click(function() {
  $(".nav").toggleClass("search");
  $(".nav").toggleClass("no-search");
  $(".search-input").toggleClass("search-active");
});

</script>
