<% content_for :title, "NoteTube" %>
<div class="home-container">
  <nav class="navbar-home">
    <% if current_user.nil? %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Log In", new_user_session_path %>
    <% end %>
    <% if current_user.present? %>
      <%= link_to "My Library", notes_path %>
    <% end %>
    <a href="https://github.com/littlebobert/notetube-chrome-extension">Add to Chrome <i class="fa-brands fa-chrome"></i> </a>
  </nav>
  <div id="background"></div>

  <div id="first-section">
  <h1 id="title" class="margin-top"> NoteTube </h1> <br>
  <div class="typing-demo"> <h2 id ="subtitle"> Generate <span class="highlight">notes</span> from any <span class="highlight">YouTube</span> lecture </h2> </div>
  <br>

    <form novalidate="novalidate" class="simple_form search" action="/notes" accept-charset="UTF-8" method="post" data-turbo="false">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
      <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="v" id="v" placeholder="Paste a YouTube link">
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
      </div>
    </form>

    <br>

  </div>
</div>

<div class="home-container">
  <div id="second-section"> <br>
  <h3 class = "headers"> Steps </h3>

  <!-- The Timeline -->

  <ul class="timeline">

    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Paste a YouTube link!</span>
        </div>
        <div class="desc"> Paste the URL of the YouTube video you want to learn from. NoteTube analyzes the video content and generates notes and quizzes.</div>
      </div>
    </li>

    <!-- Item 2 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag"> Learn with editable notes! </span>
        </div>
        <div class="desc"> Review or print the generated notes. You can edit, add, or remove content to tailor the notes to your learning style. </div>
      </div>
    </li>

    <!-- Item 3 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag"> Test yourself with a quiz!</span>
        </div>
        <div class="desc"> Complete the quiz to test your understanding of the material covered in the video. </div>
      </div>
    </li>

    <!-- Item 4 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag"> Bookmark for later! </span>
        </div>
        <div class="desc"> Click the bookmark icon or save button to store your notes and quiz results in your account. </div>
      </div>
    </li>

  </ul>

  </div>
</div>

<script>
  let background = document.getElementById('background');
  let title = document.getElementById('title');

  function fuschiaColor() {
    background.style.backgroundColor = '#AEC6CF';
    title.style.color= '#AEC6CF';
  }
  
</script>
