/* app/assets/stylesheets/components/button_styles.css */

/* app/assets/stylesheets/components/button_styles.css */

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  color: black;
  cursor: pointer;
  transition: transform 0.3s;
  border: none;
  background: transparent;
}

.btn-icon:hover {
  transform: scale(1.1);
}

.btn-icon i {
  font-size: 20px; /* Adjust the size as needed */
  padding: 4px;
}
