/* BASIC SETUP */
$onyx: #373449;

.nav-item:not(.search) {
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Work Sans", sans-serif;
  display: grid;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #ededed;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: auto auto;
  height: 50px;
  overflow: hidden;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.navbar p {
  width: auto;
  justify-self: start;
  margin-left: 20px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-self: end;

}

#nav-logo a {
  color: $onyx;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

#nav-logo a:hover {
  color: #3498db;
}

.nav-item a {
  color: $onyx;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}

/* SEARCH FUNCTION */
.navbar {
  #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
  }

  #search-icon:hover {
    color: #3498db;
    cursor: pointer;
  }

  .search-input:focus {
    transition: all 0.7s ease-in-out;
    color: black;
  }

  .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }

  .search-input {
    top: -4px;
    width: 0px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
  }

  .search-active {
    opacity: 1;
    width: 400px;
    transition: width 0.5s ease;
    z-index: 0;
    // display: inline-block;
  }

  input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
    // display:none;

  }
}
