.tag-pills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  p {
    margin: 0;
  }
}

.tag-pill {
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  background-color: #EFF4FF;
  border: none;
  color: #3d7eaa;
  padding: 10px 20px;
  text-align: center;
}

.tag-pill:hover {
  background-color:#3d7eaa;
  color: #EFF4FF;
}

.tag-pill.active {
  display: inline-block;
  background-color: #3d7eaa;
  color: #EFF4FF;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
}
